/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

.carousel{
	margin-bottom: 4rem;
}

.carousel-item{

	height: 34rem;
}

.carousel-item >img {
	position: absolute;
	top:0;
	left: 0;
	min-width: 100%;
	height: 50rem;
}

.featurette-heading{
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: bolder;
	color: red;

}

.featurette-heading span{
	letter-spacing: 2px;
	font-size: 14px;
}

.lead{
	font-size: 12px;
	letter-spacing: 2px;
}

.featurette-image{
	
}

.aboutUs{
	font-size:12px;
	letter-spacing: 2px;
	word-spacing: 3px;

}

.aboutUs .head{
		text-align: center;
		font-weight: bolder;
		font-size: 14px;
		padding-top: 25px;
}

.carousel-caption h2{
	letter-spacing: 2px;

}

.carousel-caption p{
		letter-spacing: 2px;
		font-size: 12px;
}

.row{
	width: 100%;
}

.card{
	width: 14%;
	float: left;
	margin-right: 12.5%;
	margin-bottom: 3.5%;
	}







