<div class="container-fluid">
<div class = "col-md-7">
	<h2 class="featurette-heading">
		Financing Available
		<span class="text-muted">Lowest interest rate</span>
	</h2>
	<p class="lead">
		We will work with you to get you your dream vechile. 
		Drop by and talk with one of our consaltant.
	</p>
</div>
<div class="col-md-5">
	<%= image_tag("test.png", class: "featurette-image") %>
</div>
</div>