<div class="container-fluid">
<div class = "col-md-7">
	<h2 class="featurette-heading">
		Rent a car for your gateaway
		<span class="text-muted">Travel in style.</span>
	</h2>
	<p class="lead">
		Vacation with the luxury car is something else. 
		Stop by and see what we have to offer you. 
	</p>
</div>
<div class="col-md-5">
	<%= image_tag("test.png", class: "featurette-image") %>
</div>
</div>