<div class="container-fluid">
<div class = "col-md-7">
	<h2 class="featurette-heading">
		Test Drive It Today
		<span class="text-muted">It'll blow your mind.</span>
	</h2>
	<p class="lead">
		Come to our show room and sign up for the test drive today. 
		Luxury is a step away. 
		Drive it and feel the power.
	</p>
</div>

<div class="col-md-5">
	<%= image_tag("test.png", class: "featurette-image") %>
</div>
</div>